# Dependencies
node_modules/

# Environment variables / secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database backups
backups/
*.dump
*.backup

# Ignore SQL backup files only inside backups
backups/*.sql

# Keep migration SQL files
!src/database/migrations/*.sql

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/

# Coverage
coverage/